$color-background: rgb(255,255,255); 
$color-text-primary: rgb(0,0,0); // texts and borders
$color-text-secondary: rgb(102,102,102); // links and subtitles
$color-surface: rgb(245,245,245); // houvers, separators
$color-heading: rgb(51,51,51); // headres and primary buttons