# POSTGRESQL HOST LOCAL (0.0.0.0) AND DOCKER (postgresql)
POSTGRESQL_HOST=postgresql
POSTGRESQL_PORT=5432
POSTGRESQL_USER=root
POSTGRESQL_PASSWORD=
POSTGRESQL_DATABASE=leopple-games

# REDIS HOST LOCAL (127.0.0.1) AND DOCKER (redis)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

#S3
S3_URL=http://localhost:9444/