# POSTGRESQL LOCAL
# POSTGRESQL_HOST=0.0.0.0
# POSTGRESQL_PORT=5432
# POSTGRESQL_USER=root
# POSTGRESQL_PASSWORD=
# POSTGRESQL_DATABASE=leopple-games

# POSTGRESQL DOCKER
POSTGRESQL_HOST=postgresql
POSTGRESQL_PORT=5432
POSTGRESQL_USER=root
POSTGRESQL_PASSWORD=
POSTGRESQL_DATABASE=leopple-games