$color-background: rgb(15, 15, 15);
$color-text-primary: rgb(229, 229, 229); // texts and borders
$color-text-secondary: rgb(163, 163, 163); // links and subtitles
$color-surface: rgb(26, 26, 26); // houvers, separators
$color-heading: rgb(245, 245, 245); // headres and primary buttons